body {
    background-color: #f4f5f5;
    font-family: 'Eina', sans-serif;
    font-size: 13px;
    letter-spacing: 0.2px;
    margin: 0;
    min-height: 100vh;
    color: #303030;
}

.container {
    max-width: 80vw;
    border: 1px solid rgba(167, 167, 167, 0.36);
    padding: 40px;
    background: #fff;
    margin: 40px auto;
}

button {
    height: fit-content;
    width: fit-content;
    appearance: none;
    border-radius: 30px;
    border: 2px solid #000;
    background: transparent;
    padding: 13px 20px;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    transition: background-color .2s, color .2s, box-shadow .2s, opacity .2s, -webkit-box-shadow .2s;
    line-height: 1;
    outline: none;
    font-weight: 500;
    margin: 10px 0;
}

button:hover {
    background: #000;
    color: #fff;
}

label {
    margin-top: 20px;
    font-size: 15px;
}

input {
    max-width: 100%;
    border: 1px solid #e4e4e4;
    outline: none;
    height: 40px;
    border-radius: 6px;
    padding: 5px 15px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #fcfcfc;
    font-weight: 200;
    margin: 10px 0;
}

select {
    border: 1px solid #e4e4e4;
    height: 40px;
    border-radius: 6px;
    background-color: #fcfcfc;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.08px;
    color: #303030;
    padding: 13px 15px;
    line-height: 1.2;
    min-width: 150px;
    width: 230px;
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
}

.form {
    max-width: 500px;
    margin: auto;
}